header .header {
    max-width: 1960px;
    margin: 0 auto;
}

header .header .container {
    width: 100%;
    max-width: 1520px;
    padding: 0 20px;
    margin: 0 auto;
}

header .header .subMenu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header .header span.arrow,
header .header a.arrow {
    position: relative;
}
header .header span.arrow::before,
header .header a.arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 7px;
    background: url('../../public/icons/dropDownArrow.svg') no-repeat;
    background-size: cover;
    transform: translateY(-50%) rotate(0);
    transition: all 0.3s ease-in-out;
}
header .header span.arrow.show::before,
header .header a.arrow.show::before {
    transform: translateY(-50%) rotate(180deg);
}

header .header .subMenu .backBtn {
    content: '';
    position: absolute;
    top: 30px;
    left: 20px;
    width: 12px;
    height: 20px;
    background: url('../../public/icons/right-arrow-black.svg') no-repeat;
    background-size: cover;
    transform: translateY(-65%) rotate(180deg);
}