/* Default Button */
.default {
	cursor: pointer;
	color: #0045bf;
	background-color: #f2dd30;
	display: inline-block;
	border-radius: 300px;
	padding: 22px 32px;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.1;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	position: relative;
    opacity: 1;
}
@media (min-width: 596px) and (max-width: 1024px) {
	.default {
		padding: 20px 28px;
		font-size: 16px;
	}
}
@media (max-width: 595px) {
	.default {
	  font-size: 14px;
	  padding: 18px 24px;
	}
  }
.btn-blue {
    color: #fff;
    background-color: #0045bf;
}
.btn-blueSky {
    color: #0045bf;
    background-color: #cbe8fa;
}

.btn-blueSky:hover,
.btn-blue:hover,
.default:hover {
	opacity: 0.8;
}