footer .footer {
    max-width:1960px;
    margin: 0 auto;
}
footer .footer .bgImg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 69, 191, 0.8);
}
footer .footer .bgImg img{
    height: inherit;
}
@media (max-width: 1024px) {
    footer .footer .logoWrap{ 
        max-width: 200px;
        width: 100%;
    }
}
@media (max-width: 595px) {
    footer .footer .logoWrap{ 
        max-width: 150px;
        width: 100%;
    }
}
footer .footer .linksWrap ul li a{
    position: relative;
}
footer .footer .linksWrap ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border: solid 1px transparent;
    transition: all 0.3s ease-in-out;
}
footer .footer .linksWrap ul li a:hover::before {
    width: 100%;
    border: solid 1px #f2dd30;
}